<div class="container">
  <div class="text-container">
    <h2>Tic Tac Toe / Tris vs AI Artificial Intelligence BOB</h2>
    <p>Abbiamo creato questa intelligenza artificiale, ma Bob è uscito un po' arrogante. <br> Batterlo potrebbe abbassargli la cresta.<br> Aiutaci a migliorare Bob.</p>
    <p id="a"> Per far funzionare il tutto al meglio bisogna far partire la nostra API Proprietaria, creata con node.js ed express. <br> Dalla cartella (nel terminale) messages facendo npm start. Nella quale non va fatto npm i. E pronta solo per npm start!</p>
    

  </div>
<table>
  <tr>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="0"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="1"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="2"></td>

  </tr>
  <tr>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="3"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="4"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="5"></td>
  </tr>
  <tr>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="6"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="7"></td>
    <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="8"></td>
  </tr>
</table>
<div class="endgame">
  <div class="text">
  </div>
</div>
<div>
  <p class="bob">Messaggio di Bob: <br> {{bobMessage}}</p>
</div>
<button (click)="startGame()">Replay</button>


</div>