



        <table>
        <tr>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="0"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="1"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="2"></td>

        </tr>
        <tr>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="3"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="4"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="5"></td>
        </tr>
        <tr>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="6"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="7"></td>
          <td (click)=" disableClick ? null : turnClick($event)" class="cell" id="8"></td>
        </tr>
    </table>
    <div class="endgame">
       <div class="text"></div>
    </div>
    <button (click)="startGame()">Replay</button>

<img src="../../assets/during.-match.json" alt="">