.no-favorite-cocktail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

h2{
    font-size: 30px;
}

.no-favorite-cocktail button{
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  
}

.no-favorite-cocktail button:hover{
    padding: 25px;
    transition: 0.2s;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container{
    width: 90%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: none;
    box-shadow: 2px 10px 2px rgba(141, 115, 115,0.3);
    cursor: pointer;
    font-size: 18px;
}

.card-container:hover{
    margin-top: -10px;
    transition: 400ms;
}

.cocktail-name{
    font-weight: 600;
    font-size: 20x;
}

.button-delete{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-delete button{
    border: none;
    border-radius: 5px;
    background-color: red;
    font-size: 18px;
    color: white;
}

.stars{
    display: flex;
}

.stars svg{
    fill: yellow;
    margin: 10px
}

