<div class="container-table">
        <div class="table">
            <!-- T-HEADER STARTS -->
            <div class="grid-container grid-header">
                    <div class="th th-name">
                        <h4 class="th-txt txt-name"><span>Nome</span></h4>
                    </div>
                    <div class="th th-gender">
                        <h4 class="th-txt txt-gender"><span>Gender</span></h4>
                    </div>
                    <div class="th th-probability">
                        <h4 class="th-txt txt-probability"><span>Probabilità</span></h4>
                    </div>
                    <div class="th th-count">
                        <h4 class="th-txt txt-count"><span>Count</span></h4>
                    </div>
                    <div class="th th-date">
                        <h4 class="th-txt txt-date"><span>Searched</span></h4>
                    </div>
                   
                      <div class="th th-delete">
                        <h4 class="th-txt txt-delete"><span>Delete</span></h4>
                    </div>
            </div>
            <!-- T-HEADER ENDS -->
            <!-- T-BODY STARTS -->
            <ng-container *ngIf="searchList.length === 0">
                <div class="container-txt-no-search">
                    <p class="txt-no-activity">Ancora nessuna ricerca.</p>
                </div>
            </ng-container>
           
            <ng-container *ngIf="searchList.length > 0">
            <ng-container *ngFor="let search of searchList">
              <div [ngClass]="colorClass(search)" class="m-2 d-flex justify-content-between" >
                    <div  class="td  td-name">
                            <p class="txt txt-name"><span>{{search.name | titlecase}}</span></p>
                    </div>
                    <div class="td td-gender">
                        <p class="txt txt-gender"><span>{{search.gender | titlecase}}</span></p>
                    </div>
                    <div class="td td-type">
                        <p class="txt txt-type"><span>{{search.probability | percent}}</span></p>
                    </div>
                    <div class="td td-count">
                        <p class="txt txt-count"><span>{{search.count}}</span></p>
                    </div>
                    <div class="td td-date">
                        <p class="txt txt-date"><span>{{search.dateSearched | timeSearch }}</span></p>
                    </div>
                
                      <div class="td td-delete">
                        <div class="btn-dlt-container">
                            <button class="btn btn-danger" type="button" (click)="deleteSearchItem(search)">Delete</button>
                        </div>
                    </div>
              </div>
             </ng-container>
            </ng-container>
            <!-- T-BODY ENDS -->
</div>

           