<div class="container-table">
        <div class="table">
            <!-- T-HEADER STARTS -->
            <div class="grid-container grid-header">
                    <div class="th th-attività">
                        <h4 class="th-txt txt-attività"><span>Nome</span></h4>
                    </div>
                    <div class="th th-difficoltà">
                        <h4 class="th-txt txt-difficoltà"><span>Gender</span></h4>
                    </div>
                    <div class="th th-tipo">
                        <h4 class="th-txt txt-tipo"><span>Probabilità</span></h4>
                    </div>
                    <div class="th th-partecipanti">
                        <h4 class="th-txt txt-partecipanti"><span>Count</span></h4>
                    </div>
                    <div class="th th-prezzo">
                        <h4 class="th-txt txt-prezzo"><span>Searched</span></h4>
                    </div>
                   
                      <div class="th th-delete">
                        <h4 class="th-txt txt-delete"><span>Delete</span></h4>
                    </div>
            </div>
            <!-- T-HEADER ENDS -->
            <!-- T-BODY STARTS -->
            <ng-container *ngIf="true">
                <div class="container-txt-no-activity">
                    <p class="txt-no-activity">Nessuna Ricerca Salvata.</p>
                </div>
            </ng-container>
           
            <ng-container *ngIf="false">
              <div class="grid-container grid-body" >
                    <div class="td  td-attività">
                            <p class="txt txt-attività"><span>Sasha</span></p>
                    </div>
                    <div class="td td-Difficoltà">
                        <p class="txt txt-Difficoltà"><span>Male</span></p>
                    </div>
                    <div class="td td-tipo">
                        <p class="txt txt-tipo"><span>98%</span></p>
                    </div>
                    <div class="td td-partecipanti">
                        <p class="txt txt-partecipanti"><span>534543</span></p>
                    </div>
                    <div class="td td-prezzo">
                        <p class="txt txt-prezzo"><span>1 houre ago</span></p>
                    </div>
                
                      <div class="td td-delete">
                        <div class="btn-dlt-container">
                            <button class="btn btn-danger" type="button">Delete</button>
                        </div>
                    </div>
              </div>
            </ng-container>
            <!-- T-BODY ENDS -->

         
</div>

           