<div class="container-table">
        <div class="table">
            <!-- T-HEADER STARTS -->
            <div class="grid-container grid-header">
                    <div class="th th-attività">
                        <h4 class="th-txt txt-attività"><span>Attività</span></h4>
                    </div>
                    <div class="th th-difficoltà">
                        <h4 class="th-txt txt-difficoltà"><span>Difficoltà</span></h4>
                    </div>
                    <div class="th th-tipo">
                        <h4 class="th-txt txt-tipo"><span>Tipo</span></h4>
                    </div>
                    <div class="th th-partecipanti">
                        <h4 class="th-txt txt-partecipanti"><span>Partecipanti</span></h4>
                    </div>
                    <div class="th th-prezzo">
                        <h4 class="th-txt txt-prezzo"><span>Prezzo</span></h4>
                    </div>
                     <div class="th th-link">
                        <h4 class="th-txt txt-link"><span>Link</span></h4>
                    </div>
                      <div class="th th-delete">
                        <h4 class="th-txt txt-delete"><span>Delete</span></h4>
                    </div>
            </div>
            <!-- T-HEADER ENDS -->
            <!-- T-BODY STARTS -->
            <ng-container *ngIf="favouriteActvities.length === 0">
                <div class="container-txt-no-activity">
                    <p class="txt-no-activity">Nessuna attività preferita.</p>
                </div>
            </ng-container>
            
            <ng-container *ngIf="favouriteActvities.length > 0">
              <div class="grid-container grid-body" *ngFor="let activity of favouriteActvities">
                    <div class="td  td-attività">
                            <p class="txt txt-attività"><span>{{activity.activity}}</span></p>
                    </div>
                    <div class="td td-Difficoltà">
                        <p class="txt txt-Difficoltà"><span>{{activity.accessibility | average}}</span></p>
                    </div>
                    <div class="td td-tipo">
                        <p class="txt txt-tipo"><span>{{activity.type}}</span></p>
                    </div>
                    <div class="td td-partecipanti">
                        <p class="txt txt-partecipanti"><span>{{activity.participants}}</span></p>
                    </div>
                    <div class="td td-prezzo">
                        <p class="txt txt-prezzo"><span>{{activity.price}}</span></p>
                    </div>
                     <div class="td td-link">
                        <p class="txt txt-link"><span>{{activity.link}}</span></p>
                    </div>
                      <div class="td td-delete">
                        <div class="btn-dlt-container">
                            <button class="btn btn-danger" type="button" (click)="deleteActivity(activity)">Delete</button>
                        </div>
                    </div>
              </div>
            </ng-container>
            <!-- T-BODY ENDS -->
        </div>
</div>

<div>
    
</div>
