<div class="container-generate-activity">
   
    <div class="container-btn-generate-activity">
        <button class="btn btn-primary" type="button">Genera Attività</button>
    </div>
    <div class="container-table-activity" *ngIf="false">
        <div class="table">
                <div class="container-title-table">
                    <h1>Learn Express.js</h1>
                </div>
                <div class="container-row-data">
                    <p class="title-of-value">Difficoltà:</p>
                    <p class="txt-value">0.25</p>
                </div>
                 <div class="container-row-data">
                    <p class="title-of-value">Tipo:</p>
                    <p class="txt-value">education</p>
                </div>
                <div class="container-row-data">
                    <p class="title-of-value">Partecipanti:</p>
                    <p class="txt-value">1</p>
                </div>
                 <div class="container-row-data">
                    <p class="title-of-value">Prezzo:</p>
                    <p class="txt-value">0</p>
                </div>
                 <div class="container-row-data">
                    <p class="title-of-value">Link:</p>
                    <p class="txt-value">https://expressjs.com</p>
                </div>
                <div class="container-btn-add-to-favourite">
                        <button class="btn btn-warning" type="button">Salva Preferito</button>
                </div>
        </div>
    </div>
</div>
