      

     

<input id="search"  type="text">

<button (click)="getDrinks()">CLick</button>



 <div style="display: flex; gap:1rem; flex-wrap: wrap;">

    
       
       <div class="card" *ngFor="let cocktail of cocktailList" style="width: 300PX; height: 300px; border: 1px solid black;">
         <app-review [objaddTofavouriteList]="cocktail" ></app-review>
         <div>
            <img  width="100%" height="100%" src="{{cocktail.strDrinkThumb}}" alt="">
         </div>

       </div>
 </div>


