<div class="container mt-4 border-form">
  <form #f="ngForm" (ngSubmit)="submit(f)" class="d-flex flex-column justify-content-center align-items-center">
    <div class="form-group text-center">
      <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Inserisci un nome..." pattern="[a-z / A-Z]+" required ngModel #name="ngModel">
    <ng-template [ngIf]="f.invalid"><h6>Inserisci un nome valido fatto solo di caratteri dalla A alla Z.</h6></ng-template>
    </div>
    <button type="submit" [disabled]="f.invalid" class="btn btn-info mt-3">Ricerca nome</button>
  </form>
</div>
